<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debug007 | FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Debug007 automatically debugs or analyze crash reports of Android, iOS and Windows. Debug007 can automatically 
                        debug any field failure report">
    <meta name="keywords" content="crash reports, crash report analysis, field failures, track bugs, automatic debugging, android bugs, 
                andorid error reporting, android crash reports, android crash report analysis, 
                 iphone, iphone exceptions, iOS crashes,iOS error reporting,iOS crash reports, iOS crash report analysis, 
                 wp7 crash, wp7 crash report, wp7 crash report analysis, log exceptions">
    <meta name="author" content="Syed Shariyar Murtaza">
		
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/glyphicons.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="css/base.css" rel="stylesheet">
	<link href="css/blue.css" rel="stylesheet">
	
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
     <script src="js/google-ga-analytics.js"></script>
 
  </head>  

  <body>

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          <a class="brand" href="/">Debug007</a>
	   <div class="nav-collapse collapse">
                 <ul class="nav pull-right animated">
                          <li>  <a href="/" tabindex="-1">Home</a></li>
              		  <li ><a href="/#features">Features</a></li>
                          <li><a href="/#pricing">Pricing</a></li>
                          <li><a href="/#how_it_works">How it Works</a></li>
			  <li><a href="login">Login</a></li>
			  <li class="active"><a href="faq">FAQ</a></li>
                      
                </ul>
	  </div>
        </div>
      </div>
    </div>

	<div id="header">
	  <div class="container">  
	    <div class="row">
		  <div class="span12">
		    <h1>Frequently Asked Questions</h1>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content">
	  <div class="container txt-lefty">			
	    <div class="row-fluid">
		  <div class="span9">	
			<div class="entry">
			   <h2>Who am I?</h2>
                           <hr>
			    <div class="row-fluid">
			     <div class="span5">
                                <div class="js-video">
                                  <iframe src="https://www.youtube.com/embed/0sk_Us9kIfA?rel=0&autohide=1&showinfo=0" width="250" height="142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                </div>
                                 
                              </div>
			     <div class="span7">
                                 <p> I am Shariyar Murtaza. I am a Ph.D. in software engineering from the University of Western Ontario, Canada. Specifically,
                                     I received my Ph.D. in automatic discovery of fault locations in field reports of deployed software systems.
                                     Currently, I am working as a research scientist at Concordia University, Canada, and I am focusing on automatic
                                    detection of software attacks (anomalies) from software traces of operating systems. Dr. Nazim Madhavji was
                                    my supervisor at the University of Western Ontario and currently I am working with Dr. Abdelwahab Hamou-Lhadj at 
                                    Concordia University. For further enquiries, please send me an email at: smurtaza [[att]] debug007 [[dot]] com.   
                                 
                                 </p>
                	     </div>				
			  </div>
                     </div>
		     
		   
             <div class="entry">
			  <h2>Which technology is Debug007 based on?</h2>
			  
			  <hr>
			  <div class="row-fluid">
			     <!--<div class="span7">-->                
                             <p> Debug007 is built on top of <a href="http://lttng.org/eclipse" target="_blank">Tracing and Monitoring Framework (TMF)</a> which is available as
                                 a plugin in Eclipse and can be downloaded separately too. Debug007 leverages TMF to provide the functionality of automatic
                                 detection of locations of faults. Debug007 is a part of a bigger project, Total Anomaly Detection System (TotalADS). TotalADS
                                 focuses on: (a) detection of attacks using kernel space traces; and (b) detection of faults in software maintenance using
                                 user space traces. Debug007 takes care of fault detection. Following are some of the screenshots of TotalADS.
                                                                  
                              </p>
                           
                               <div class="span5">
                                 <a id="img1" class="thumbnail" href="#" title="Debug007 Screenshot" >
                                     <img alt="image"  src="https://i.imgur.com/BoQRy8Q.png">
                                 </a>
                               </div>
                           <div class="span5">
                                 <a class="thumbnail" href="#" title="Debug007 Screenshot">
                                        <img alt="image"  src="https://i.imgur.com/eMpgHh8.png">
                                 </a>
                          
                            </div>
                      </div>
             </div>  
                <div class="entry">
			  <h2>How can I download it?</h2>
			  <hr>
			  <div class="row-fluid">
			      <!--<div class="span7">-->                
				  <p> Debug007 will be available in Eclipse Marketplace soon. Currently, Debug007 is under testing phase before its
                                      public release.  
                                  </p>
                           <!--</div>-->				
		         </div>
                   </div>  
                      
                      <div class="entry">
			  <h2>What kind of traces Debug007 works on?</h2>
			  <hr>
			  <div class="row-fluid">
			      <!--<div class="span7">-->                
				  <p> Debug007 works on function call traces collected during crashes or non-crashes. Traces can be in the
                                      CTF format generated by <a href=http://lttng.org target="_blank">LTTng </a> or they can be in a simple text format.
                                      Debug007 parses text traces using a regular expression as provided by developers. Custom parsers of other kinds
                                      of trace formats can easily be added to Debug007 as Java classes. If you wish to customize Debug007 to your 
                                      organization's needs please contact at smurtaza [[att]] debug007 [[dot]] com.
            
                                  </p>
                           <!--</div>-->				
		         </div>
                   </div> 
                     <div class="entry">
			  <h2>Has any thing been published on Debug007?</h2>
			  
			  <hr>
			  <div class="row-fluid">
			     <!--<div class="span7">-->                
                             <p>Yes, there are few publications on Debug007 in well known international software engineering venues: </p>
                                  
                                  <p>
                                  Murtaza, S.S.; Gittens, M.; Li, Z; Madhavji, N.H.:“F007: Finding Rediscovered Faults from the Field using
                                  Function-level Failed Traces of Software in the Field”, in Proc. 2010 Conference of the Centre for Advanced Studies on
                                  Collaborative Research, ACM, Canada, Nov. 2010, pp. 61-75.
                                  </p>
                                  <p>
                                  Murtaza, S.S.; Madhavji, N.H.; Gittens, M.; Li, Z.; “Diagnosing New Faults Using Mutants and Faults of
                                  Prior Releases”, in Proc. of 33rd International Conference on Software. Engineering, ACM, Honolulu, Hawaii, USA, May,
                                  2011, pp. 960-96
                                  </p>
                                  
                                  <p>
                                  Murtaza, S.S.; Hamou-Lhadj, A.; Madhavji, N.H.; Gittens, M. “An Empirical Study on the Use of Mutant Traces
                                  in Fault Discovery”, Journal of System and Software, Available online 12 December 2013, ISSN 0164-1212.
                                 </p>
                 
		            <!--</div>-->				
		       </div>
            </div>
        </div>
        <div class="span3">
			<h3>Debug007</h3>
			<hr class="halfed">
			<p>Debug007 automatically discovers fault locations in deployed software applications.</p>
			<h4>Explanation by mobile apps</h4>
			<hr class="halfed">
			<div class="js-video">
			 <iframe src="https://www.youtube.com/embed/0e8oz9P_O8M?rel=0&autohide=1&showinfo=0" width="250" height="140" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		    </div>
			
          </div>		  
	</div>		
	  </div>
	</div>

	<div id="footer">
	  <div class="container">
	    <div class="row">
		  <div class="span3">
			<h3>Quick Links</h3>
			<ul class="animated">
			  <li><a href="#">Home</a></li>
			  <li><a href="#features">Features</a></li>
			  <li><a href="#pricing">Pricing</a></li>
			  <li><a href="#how_it_works">How it Works</a></li>
			</ul>			
		  </div>
		  <div class="span3">		
			<h3>Debug007</h3>
			<ul class="animated">
         <!--              <li>Login</li>
			   <li>Register</li> -->
			  
			  <li><a href="login">Login</a></li>
			  <li><a href="signup">Sign Up</a></li>
			  <li><a href="faq">FAQ</a></li>
			</ul>	
		  </div>
		  <div class="span3">
			<h3>We're Social</h3>
			<ul class="animated">
			  <li><a href="https://www.facebook.com/debug007" target="_blank">Facebook</a></li>
			  <li><a href="https://twitter.com/thedebug007" target="_blank">Twitter</a></li>
			  <li><a href="https://plus.google.com/114476815592010327540/"  rel="publisher">Google &#43;</a></li>
			</ul>		  
		  </div>
		  <div class="span3">
			<h3>Contact</h3>
			<p> For further correspondence please send an email to:</p>
                        <i> smurtaza [[at]] debug007 [[dot]] com</i>
<!--		    <form >
              <input class="span3" type="text" placeholder="Your Email" name="subscribe">
			  <button class="btn btn-primary">Subscribe</button>
			</form>-->
		  </div>		  
		</div>	  
      </div>	  
    </div>

	<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>&copy; 2013 Debug007: <i> smurtaza [[at]] debug007 [[dot]] com</i> <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>
            
            
   <!-- Modal Window -->
   <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"  style="width:800px;">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">x</button>
           <h3 class="modal-title">Heading</h3>
       </div>
       <div class="modal-body">
           
       </div>
       <div class="modal-footer">
           <button class="btn" data-dismiss="modal">Close</button>
       </div>
   </div>
            
            
            
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/bounce.js"></script>	
      <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-42995003-2', 'debug007.com');
            ga('send', 'pageview');

       </script>
     <script>
     $('.thumbnail').click(function(){
        $('.modal-body').empty();
        var title=$(this).attr("title");
        $('.modal-title').html(title);
        $(this.innerHTML).appendTo('.modal-body');
        $('#myModal').modal('show');
     }); 
     </script>
         
  </body>
</html>