<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Debug007</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Shariyar Murtaza">
	
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/glyphicons.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="css/base.css" rel="stylesheet">
	<link href="css/blue.css" rel="stylesheet">
	
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
  <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
  </head>  

  <body>

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>		
          <a class="brand" href="/">Debug007</a>
		  <div class="nav-collapse collapse">
            <ul class="nav pull-right animated">
                
			  <li class="active">  <a href="/" tabindex="-1">Home</a></li>
              		  <li ><a href="#features">Features</a></li>
                          <li><a href="#pricing">Pricing</a></li>
                          <li><a href="#how_it_works">How it Works</a></li>
			  <li><a href="login">Login</a></li>
			  <li><a href="signup">Sign Up</a></li>
			  <!--<li><a href="blog.html">Contact</a></li>-->

            </ul>
		  </div>
        </div>
      </div>
    </div>	
	
	<div id="landing">
	  <div class="container">  
	    <div class="row">
		  <div class="span5">
		    <h1>Automatic diagnosis of faults in deployed software applications</h1>	
			<br />
                      <p style="text-align: justify;">Developers collect failure reports (e.g., crash reports) from software applications in operation to debug origins of faults 
                          in software code. Failure reports of applications with large client bases can be quite overwhelming to 
                          software developers, let alone the complexity of faults to be debugged. According to surveys, fault identification can consume upto 30-80% of the total time needed to fix the fault. 
                          Debug007 is a tool that uses machine learning algorithms to automatically point out a list of suspected functions or components for failure reports. Our case studies on commercial programs show 
                          that developers can instantaneously diagnose faulty source code in 60-90% of failure reports by reviewing first suspected functions as pointed out by Debug007. On the contrary, contemporary tools 
                         do not pin point the location of faults which keeps debugging tedious. </p>
		     
		  </div>
		  <div class="span7">
		    <div class="js-video">
			  <iframe src="https://www.youtube.com/embed/AmyGZnMqWuQ" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		    </div>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content" class="txt-middle">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
			<h2>Maintain your applications with ease</h2>
                        
		    <hr class="dashed">				
		  </div>  
		</div>  
	    <div class="row">
		  <div class="span6 bouncy" id="pricing">
		    <div class="icon_wrapper">
		      <i class="glyphicons-nameplate animated"></i>
		    </div>
			<h2>Preorder Membership</h2>
                        
			<p>Help us build the final product by becoming an early member. For a donation of just 20$ or more you can 
                            become an early member with full access. 
                           </p>	
                           <div class="span3">
                           <h4> Early Membership Plans </h4>
                           <p> Includes: Unlimited failure reports, unlimited users, and 5 software apps.  </p> 
                               20$ for 1 month
                               <br/>  50$ for 3 months
                                <br/> 100$ for 1 year 
                            <br/>
                           </div>
                           <div class="span2">
                            <h4> Free Early Membership Plan </h4>
                                Unlimited failure reports,  50K users per month, and one app.
                           </div>                                   
                           <div class="span6">
                           
                           <br/>If you like this idea then you can still back this product  by donating less than 20$ or 
                                 by only sharing it on social media.
                           
                           </div>
		 <!-- AddThis website Button BEGIN -->
                           
                 
         <div class="span2 offset1  addthis_toolbox addthis_default_style addthis_32x32_style">
	   <a class="addthis_button_preferred_1"></a>
	   <a class="addthis_button_preferred_2"></a>
	   <a class="addthis_button_preferred_3"></a>
           <a class="addthis_button_compact"></a>
	   <a class="addthis_counter addthis_bubble_style"></a>
	 </div>
	 <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520118b70ea21248"></script>

	 <!-- AddThis website Button END -->
            <div class="span2">
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                   <input type="hidden" name="cmd" value="_s-xclick">
                   <input type="hidden" name="hosted_button_id" value="MFA9QYTBNBRBS">
                   <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"  name="submit" alt="Use PayPal!">
                   <img alt=""  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
         
         <!--coinbase starts-->
         
                                 
        <!-- <div class="offset1">
                 
                     
                         <a href="https://coinbase.com/checkouts/74f67d41f3277768524aa81dedbf42f7" class=" coinbase-button" data-code="74f67d41f3277768524aa81dedbf42f7" data-button-style="custom_large" 
                            data-button-text="Pay  Using Bitcoins" >Bitcoin</a>      
                     
       
         </div>-->
                
                

<!--         <a  href="#" class=" btn btn-primary btn-large"> Pay Using PayPal</a>   -->
            <!--coinbase ends -->
                  
                  </div>
                <br />
		  <div class="span6 bouncy " id="features">
		    <div class="icon_wrapper" >
		      <i class="glyphicons-list animated"></i>
		    </div>
			<h2 >Features</h2>
                        <h4> For a failure report, Debug007:</h4>
                        <p> Instantaneously identifies recurring faults (50-90% of faults in apps are recurring)</p>
                        <p> Visualizes the differences between behaviour of normal and anomalous components <p>
                        <p> Shows statistical data analytics (e.g., historical trends for errors, users and devices) </p>
                        <p> Reduces the time of fault identification to almost zero in most of the cases </p>
                        <p> Allows maintainers to spend more time on fixing the fault rather than discovering it</p>
                        
		  </div>
		  		  
		</div>
              <h2 id="how_it_works"> How it works? </h2>
		<hr class="dashed">				
	    <div class="row">
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="https://i.imgur.com/OTIcBva.gif">
			</a>		
			<h2>Faulty Functions with Probability of Suspicion</h2>
			<p style="text-align: justify;" >Scientific literature shows that 50-90% of faults in deployed software applications are recurring
                            (i.e., previously observed) faults. However, 30-80% time of fault correction is still wasted in finding the faults. Using this knowledge, 
                            Debug007 trains machine learning classifiers on software traces as they continue to pile up in the repository. The trained classifiers then instantaneously identifies 
                            recurrent fault locations in reports--saving valuable time.
                        </p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="https://i.imgur.com/ZznMkl1.gif">
			</a>
			<h2>Visual Analysis of Anomalous Behaviour</h2>
			<p style="text-align: justify;"> Studies show that human are quite powerful in comprehending patterns and right tools can
                        enhance this capability. The visual differences between normal and anomalous traces of software apps are often quite evident; whereas, 
                        debugging anomalous traces otherwise could  be unnecessarily resource draining. Debug007 uses heuristic methods on normal traces (provided by 
                        developers) and anomalous traces (collected from deployed apps) and visualize the differences as density plots. Debug007 also identifies
                        if there is any anomalous component execution. </p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="https://i.imgur.com/3tEpEIY.gif">
			</a>
			<h2>Contextual Views of Failure Reports</h2>
			<p style="text-align: justify;"> Contextual information is always helpful in debugging software apps. Debug007 mines failure reports and provides 
                            different trends and metrics that can facilitate in debugging of apps.</p>
		  </div>		  
		</div>		
	  </div>
	</div>

	<div id="footer">
	  <div class="container">
	    <div class="row">
		  <div class="span3">
			<h3>Quick Links</h3>
			<ul class="animated">
			  <li><a href="#">Home</a></li>
			  <li><a href="#features">Features</a></li>
			  <li><a href="#pricing">Pricing</a></li>
			  <li><a href="#how_it_works">How it Works</a></li>
			</ul>			
		  </div>
		  <div class="span3">		
			<h3>Debug007</h3>
			<ul class="animated">
         <!--              <li>Login</li>
			   <li>Register</li> -->
			  
			  <li><a href="login">Login</a></li>
			  <li><a href="signup">Sign Up</a></li>
			<!--  <li><a href="blog.html">FAQ</a></li>-->
			</ul>	
		  </div>
		  <div class="span3">
			<h3>We're Social</h3>
			<ul class="animated">
			  <li><a href="https://www.facebook.com/debug007" target="_blank">Facebook</a></li>
			  <li><a href="https://twitter.com/thedebug007" target="_blank">Twitter</a></li>
			  <!--<li><a href="#">Google &#43;</a></li>-->
			</ul>		  
		  </div>
		  <div class="span3">
			<h3>Contact</h3>
			<p> For further correspondence please send an email to:</p>
                        <i> smurtaza [[at]] debug007 [[dot]] com</i>
<!--		    <form >
              <input class="span3" type="text" placeholder="Your Email" name="subscribe">
			  <button class="btn btn-primary">Subscribe</button>
			</form>-->
		  </div>		  
		</div>	  
      </div>	  
    </div>

	<div id="copywrite">
	  <div class="container">
	    <div class="row">
		  <div class="span12">
		    <p>&copy; 2013 Debug007 <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>			
		  </div>		  
		</div>	  
      </div>	  
    </div>

      <!--<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=MeXP6YWRqnWzB39rZ0R4RE0NNcCfFArG6JamaeYq266Cl4oSyXjAvspF"></script></span>-->
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/bounce.js"></script>	

  </body>
</html>